<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript">
      setInterval(function() { fetch(window.location.toString() + "?xhr=" + Math.random());}, 500);
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
